.title{
  text-align: center;
  color: #212EA0;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 70px 0 30px;

}
.title h2{
  font-size:  32px;
  color: #000F38;
  margin-top: 5px;
  text-transform: none;
}

.opp{
  opacity: 0;
  transition: all 0.7s linear;
  transform: translateY(20px);
}

.opp.active{
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.7s linear;
}